<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Globetrove Private Limited Inc <br>
            <p>All rights are reserved <br>Made with &#10084; by Pritam</p>
        </div>
        <div class="f-info-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Contact Us</a>
        </div>
    </div>
</footer>